<div id="<%= dom_id wc3stats_replay %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= wc3stats_replay.body %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Wc3stats replay:</strong>
    <%= wc3stats_replay.wc3stats_replay_id %>
  </div>
</div>
