<% content_for :title, "Factions" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl mb-6">Factions</h1>

  <div class="grid grid-cols-2 gap-8">
    <div>
      <h2 class="text-xl font-bold mb-3 text-green-700">Good</h2>
      <ul class="space-y-2">
        <% @factions.select(&:good?).each do |faction| %>
          <li>
            <%= link_to faction.name, faction, class: "text-blue-600 hover:underline font-medium" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <h2 class="text-xl font-bold mb-3 text-red-700">Evil</h2>
      <ul class="space-y-2">
        <% @factions.reject(&:good?).each do |faction| %>
          <li>
            <%= link_to faction.name, faction, class: "text-blue-600 hover:underline font-medium" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
